<h1>Running Charts</h1>
<br>

<div class="col-md-4">
  <div id="chartRunsByDistance" style='height: 300px'></div>
</div>
<div class="col-md-4">
  <div id="chartRunsByDayOfWeek" style='height: 300px'></div>
</div>
<div class="col-md-4">
  <div id="chartAvgDistanceByDayOfWeek" style='height: 300px'></div>
</div>