<h1>Listing Goals</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Distance</th>
  </tr>

  <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.title %></td>
        <td><%= goal.distance_mi %> miles</td>
      </tr>
  <% end %>
</table>